<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping | Mobiles, Electronics & Appliances - Sharaf DG UAE</title>
    <link rel="shortcut icon" href="/img/sharaf-dg-uae-logo-mobile.png"/>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/assets/css/itc-slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,600;6..12,700&family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <script src="/assets/js/itc-slider.js" defer></script>
    <script src="/assets/js/itc-slider.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script>
        let navigation = `<%- navigation %>`
        localStorage.setItem("navigation", navigation);
    </script>
    <script src="/assets/js/script.js" defer></script>
    <%- include('header') %>
    <main class="main">
        <div class="itc-slider itc-slider-desktop" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="7000">
            <div class="itc-slider-wrapper">
              <div class="itc-slider-items">
                <div class="itc-slider-item">
                  <img src="img/slider-img/1.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="img/slider-img/2.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="img/slider-img/3.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="img/slider-img/4.jpg" alt="" class="slider-img">
                </div>
              </div>
            </div>
            <ol class="itc-slider-indicators">
                <!-- data-slide-to="0" – для перехода к 1 слайду -->
                <li class="itc-slider-indicator" data-slide-to="0"></li>
                <!-- data-slide-to="1" – для перехода к 2 слайду -->
                <li class="itc-slider-indicator" data-slide-to="1"></li>
                <!-- data-slide-to="2" – для перехода к 3 слайду -->
                <li class="itc-slider-indicator" data-slide-to="2"></li>
                <li class="itc-slider-indicator" data-slide-to="3"></li>
            </ol>
            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider-btn itc-slider-btn-prev"></button>
            <button class="itc-slider-btn itc-slider-btn-next"></button>
        </div>
        <div class="itc-slider itc-slider-mobile" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="7000">
            <div class="itc-slider-wrapper">
              <div class="itc-slider-items">
                <div class="itc-slider-item">
                  <img src="https://assets.sdgcdn.com/387072/creative-1698827957586-Apple_NPI_Oct2023_v2_02_HP_Mobile_EN_02.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="https://assets.sdgcdn.com/387072/creative-1698839847315-Apple_NPI_Oct2023_v2_02_HP_Mobile_EN_14.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="https://s.sdgcdn.com/7/2023/10/payday-super-sale-750-700.jpg" alt="" class="slider-img">
                </div>
                <div class="itc-slider-item">
                    <img src="https://s.sdgcdn.com/7/2023/08/sports-fitness-best-deals-750x700.jpg" alt="" class="slider-img">
                </div>
              </div>
            </div>
            <ol class="itc-slider-indicators">
                <!-- data-slide-to="0" – для перехода к 1 слайду -->
                <li class="itc-slider-indicator" data-slide-to="0"></li>
                <!-- data-slide-to="1" – для перехода к 2 слайду -->
                <li class="itc-slider-indicator" data-slide-to="1"></li>
                <!-- data-slide-to="2" – для перехода к 3 слайду -->
                <li class="itc-slider-indicator" data-slide-to="2"></li>
                <li class="itc-slider-indicator" data-slide-to="3"></li>
            </ol>
            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider-btn itc-slider-btn-prev"></button>
            <button class="itc-slider-btn itc-slider-btn-next"></button>
        </div>
        <div class="container main_container">
            <div class="main-entry-content">
                <div class="banner">
                    <a href="">
                        <img class="banner-img" src="https://prodonlinesalesai.blob.core.windows.net/10022002/creative-1697712972280-Banner_JBL_SharafDG_380x400.jpg" alt="">
                    </a>
                </div>
                <div class="banner">
                    <a href="">
                        <img class="banner-img" src="https://prodonlinesalesai.blob.core.windows.net/387070/creative-1697097220178-LG_380x400_EN.jpg" alt="">
                    </a>
                </div>
                <div class="banner">
                    <a href="">
                        <img class="banner-img" src="https://prodonlinesalesai.blob.core.windows.net/531779/creative-1697739838631-final_english.gif" alt="">
                    </a>
                </div>
                <div class="banner">
                    <a href="">
                        <img class="banner-img" src="https://upload.snrcdn.net/25084231575ef38d0e42e9adeaafbe7133922b03/default/origin/359a48ccbce24ece89c936c7bac72cc5.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="main-products-slider-section">
                <h1></h1>
                <div class="main-products-slider-wrapper">
                    <div class="slide-container swiper">
                        <div class="main-products_slide-content">
                            <div class="product-wrapper swiper-wrapper" id="1">
                                <% for(let icon of icons){ %>
                                    <div class="main-products_card swiper-slide">
                                        <a href="section/<%=icon.section %>">
                                            <div class="main-products-slider-sdg-ratio">
                                                <img src="<%=icon.img%>" alt="" class="main-products-slider-sdg-ratio-img">
                                                <h3 class="main-products-slider-sdg-ratio-text">
                                                    <%= icon.name %>
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                <% }%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ProductOfYourInterestSection">
                <h1>Products Of Your Interest</h1>
                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="product-wrapper swiper-wrapper" id="1">
                            <% for(let product of list) { %>
                            <div class="card swiper-slide">
                                <a href="product/<%= product.id %>">
                                    <div class="sdg-ratio">
                                        <img src="<%= product.img %>" alt="" class="product-img">
                                    </div>
                                    <div class="product-name">
                                        <h4><%= product.name %></h4>
                                    </div>
                                    <div class="rating">
                                        <div class="rating-stars" data-total-value="<%= parseInt(product.rating) %>">
                                            <div class="rating-item" data-item-value="5">★</div>
                                            <div class="rating-item" data-item-value="4">★</div>
                                            <div class="rating-item" data-item-value="3">★</div>
                                            <div class="rating-item" data-item-value="2">★</div>
                                            <div class="rating-item" data-item-value="1">★</div>
                                        </div>
                                        <div class="rating-count"><%= product.rating %></div>
                                    </div>
                                    <div class="product-price">AED <%= product.price %></div>
                                </a>
                            </div>
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>